doctype html
html
  head
    title Hi there!
    link(rel="stylesheet" href="style.css")
  body
    h1 Sign up
    form(action="/signup" method="post")
      input(type="text" name="username" placeholder="username")
      input(type="password" name="password" placeholder="password")
      button(type="submit") Submit
    h1 Sign in
    form(action="/signin" method="post")
      input(type="text" name="username" placeholder="username")
      input(type="password" name="password" placeholder="password")
      button(type="submit") Submit
